@import "tailwindcss";

:root {
  --background: #F9F9F9;
  --foreground: #171717;
  --brand: #1B1F44;
  --brand-yellow: #ECF170;

}

@theme {
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 94.5rem;
  --breakpoint-3xl: 120rem;
}
@utility container {
  margin-inline: auto;
  width: 100%;
  padding-inline: 1rem;
  max-width: 100%;
}
@layer utilities {
  @media (min-width: 80rem) {
    .container{
      max-width: 1204px;
    }
  }
  @media (min-width: 1512px) {
    .container {
      max-width: 1288px;
    }
  }
  @media (min-width: 120rem) {
    .container{
      max-width: 1920px;
    }
  }
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --color-brand-yellow: var(--brand-yellow);
  --font-inter: var(--font-inter);
}


body {
  background: var(--background);
  color: black;
  font-family: var(--font-inter), serif;
}
